:root {}

* {
    font-family: 'Andale Mono', Courier, monospace;
    font-size: 1.8rem;
    line-height: 1.5
}

html {
    font-size: 62.5%;
}


/* Footer */
nav,
footer {
    width: var(--full);
    min-height: 10vh;
}

main {
    min-height: 80vh;
}

/* Sign in forms */
form {
    margin: 3rem auto;
    padding: 1rem 0;
    width: 80%;
    text-align: center;
}

form label {
    display: inline-block;
    font-size: 2rem;
    text-align: left;
    width: 75%;
    margin: 1rem;
}

form input {
    padding: 1rem;
    width: 75%;
}

form button {
    height: 3.5rem;
    width: 20rem;
    margin-top: 1rem;
}


@media (max-width: 992px) {

   .forms {
        flex-wrap: wrap !important;
    }

}

@media (max-width: 768px) {

    .forms {
         flex-wrap: wrap !important;
     }
 
 }